<section id="catalog" class="catalog section-general">
  <div class="container">
    <h2 class="catalog-title">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-item">
        <picture>
          <source
            srcset="
              /img/catalog/clock-pc-1.webp    1x,
              /img/catalog/clock-pc-1-2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              /img/catalog/clock-tab-1.webp    1x,
              /img/catalog/clock-tab-1-2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/catalog/clock-mob-1.webp    1x,
              /img/catalog/clock-mob-1-2x.webp 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="catalog-img"
            src="/img/catalog/clock-pc-1.webp"
            alt="Garmin Fenix 7X Pro Sapphire Solar"
            width="292"
          />
        </picture>
        <div class="catalog-position">
          <h3 class="catalog-subtitle cut-text">
            Garmin Fenix 7X Pro Sapphire Solar
          </h3>
          <p class="catalog-text">€500</p>
        </div>
      </li>

      <li class="catalog-item">
        <picture>
          <source
            srcset="
              /img/catalog/clock-pc-2.webp    1x,
              /img/catalog/clock-pc-2-2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              /img/catalog/clock-tab-2.webp    1x,
              /img/catalog/clock-tab-2-2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/catalog/clock-mob-2.webp    1x,
              /img/catalog/clock-mob-2-2x.webp 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="catalog-img"
            src="/img/catalog/clock-pc-2.webp"
            alt="Garmin Marq Athlete"
            width="292"
          />
        </picture>
        <div class="catalog-position">
          <h3 class="catalog-subtitle cut-text">Garmin Marq Athlete</h3>
          <p class="catalog-text">€450</p>
        </div>
      </li>

      <li class="catalog-item">
        <picture>
          <source
            srcset="
              /img/catalog/clock-pc-3.webp    1x,
              /img/catalog/clock-pc-3-2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              /img/catalog/clock-tab-3.webp    1x,
              /img/catalog/clock-tab-3-2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/catalog/clock-mob-3.webp    1x,
              /img/catalog/clock-mob-3-2x.webp 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="catalog-img"
            src="/img/catalog/clock-pc-3.webp"
            alt="Garmin Descent MK1"
            width="292"
          />
        </picture>
        <div class="catalog-position">
          <h3 class="catalog-subtitle cut-text">Garmin Descent MK1</h3>
          <p class="catalog-text">€680</p>
        </div>
      </li>

      <li class="catalog-item">
        <picture>
          <source
            srcset="
              /img/catalog/clock-pc-4.webp    1x,
              /img/catalog/clock-pc-4-2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              /img/catalog/clock-tab-4.webp    1x,
              /img/catalog/clock-tab-4-2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/catalog/clock-mob-4.webp    1x,
              /img/catalog/clock-mob-4-2x.webp 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="catalog-img"
            src="/img/catalog/clock-pc-4.webp"
            alt="Garmin D2 Delta PX"
            width="292"
          />
        </picture>
        <div class="catalog-position">
          <h3 class="catalog-subtitle cut-text">Garmin D2 Delta PX</h3>
          <p class="catalog-text">€380</p>
        </div>
      </li>

      <li class="catalog-item hidden-mob">
        <picture>
          <source
            srcset="
              /img/catalog/clock-pc-5.webp    1x,
              /img/catalog/clock-pc-5-2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              /img/catalog/clock-tab-5.webp    1x,
              /img/catalog/clock-tab-5-2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/catalog/clock-mob-5.webp    1x,
              /img/catalog/clock-mob-5-2x.webp 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="catalog-img"
            src="/img/catalog/clock-pc-5.webp"
            alt="Garmin Fenix 6 Pro Solar"
            width="292"
          />
        </picture>
        <div class="catalog-position">
          <h3 class="catalog-subtitle cut-text">Garmin Fenix 6 Pro Solar</h3>
          <p class="catalog-text">€400</p>
        </div>
      </li>

      <li class="catalog-item hidden-mob">
        <picture>
          <source
            srcset="
              /img/catalog/clock-pc-6.webp    1x,
              /img/catalog/clock-pc-6-2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              /img/catalog/clock-tab-6.webp    1x,
              /img/catalog/clock-tab-6-2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/catalog/clock-mob-6.webp    1x,
              /img/catalog/clock-mob-6-2x.webp 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="catalog-img"
            src="/img/catalog/clock-pc-6.webp"
            alt="Tube Watch S42 Date Steel With Black Case"
            width="292"
          />
        </picture>
        <div class="catalog-position">
          <h3 class="catalog-subtitle cut-text">
            Tube Watch S42 Date Steel With Black Case
          </h3>
          <p class="catalog-text">€395</p>
        </div>
      </li>
    </ul>
    <button class="catalog-btn" type="button">Show more</button>
  </div>
</section>
