<section class="section-general" id="contact">
  <div class="container">
    <h2 class="section-title">Contact Us</h2>
    <div class="additional-container-contact">
      <div class="contact-us-p-form">
        <p class="text">
          Please use the form below to contact us. Enter your name, email,
          phone, and message and we'll get back to you shortly.
        </p>

        <form class="contact-us-form">
          <div class="contact-us-field">
            <input
              type="text"
              class="contact-us-input"
              name="user-name"
              placeholder="Name"
              id="user-name"
              aria-label="user-name"
              required
            />
          </div>

          <div class="contact-us-field">
            <input
              type="email"
              class="contact-us-input"
              name="user-email"
              placeholder="Email"
              id="user-email"
              pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
              aria-label="user-email"
              required
            />
          </div>

          <div class="contact-us-field">
            <input
              type="tel"
              class="contact-us-input"
              name="user-tel"
              placeholder="+380"
              id="user-tel"
              pattern="^\+\d{3}-\d{2}-\d{3}-\d{2}-\d{2}$"
              aria-label="user-tel"
              required
            />
          </div>

          <div class="contact-us-input-wraptxtarea">
            <textarea
              name="user-comment"
              id="user-comment"
              placeholder="Comment"
              class="contact-us-textarea"
              required
            ></textarea>
          </div>

          <button class="btn-contact-us-send" type="submit">Send</button>
        </form>
      </div>

      <div class="container-img-contact-us">
        <picture class="picture-img-contact-us">
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/contact/contact-us-watch-pc-1x.jpg 1x,
              /img/contact/contact-us-watch-pc-2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/contact/contact-us-watch-tab-1x.jpg 1x,
              /img/contact/contact-us-watch-tab-2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/contact/contact-us-watch-mobile-1x.jpg 1x,
              /img/contact/contact-us-watch-mobile-2x.jpg 2x
            "
          />
          <img src="/img/contact/contact-us-watch-mobile-1x.jpg" alt="watch" />
        </picture>
      </div>
    </div>
  </div>
</section>
