<footer class="footer section-general" id="footer">
  <div class="container">
    <div class="footer-container">
      <div class="footer-box">
        <div class="footer-pluss">
          <a href="./index.html" class="footer-logo">watchcharm</a>
          <ul class="footer-list">
            <li class="footer-item">
              <a
                href="https://www.facebook.com/goITclub/"
                class="footer-link"
                target="_blank"
              >
                <svg class="footer-contacts">
                  <use href="/img/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="footer-item">
              <a
                href="https://www.instagram.com/goitclub/"
                class="footer-link"
                target="_blank"
              >
                <svg class="footer-contacts">
                  <use href="/img/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="footer-item">
              <a
                href="https://www.youtube.com/c/GoIT"
                class="footer-link"
                target="_blank"
              >
                <svg class="footer-contacts">
                  <use href="/img/sprite.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <a href="tel:+380684439426" class="fooret-tel">+380 (68) 443-94-26</a>
      </div>
      <p class="footer-title">
        Have the time of your life with our watches: where high-class
        craftsmanship meets impeccable design
      </p>

      <div class="footer-navbox">
        <nav class="footer-navig">
          <ul class="footer-navig-list">
            <li class="footer-item-navig">
              <a href="/index.html" class="footer-link-navig">Home</a>
            </li>
            <li class="footer-item-navig">
              <a href="#about-us" class="footer-link-navig">About Us</a>
            </li>
            <li class="footer-item-navig">
              <a href="#catalog" class="footer-link-navig">Catalog</a>
            </li>
            <li class="footer-item-navig">
              <a href="#sale" class="footer-link-navig">Sale</a>
            </li>
            <li class="footer-item-navig">
              <a href="#reviews" class="footer-link-navig">Reviews</a>
            </li>
            <li class="footer-item-navig">
              <a href="contact" class="footer-link-navig">Contact Us</a>
            </li>
          </ul>
        </nav>

        <a
          href="https://www.google.com/maps/place/1678+Pioneer+Rd,+Salt+Lake+City,+UT+84104,+%D0%A1%D0%BF%D0%BE%D0%BB%D1%83%D1%87%D0%B5%D0%BD%D1%96+%D0%A8%D1%82%D0%B0%D1%82%D0%B8+%D0%90%D0%BC%D0%B5%D1%80%D0%B8%D0%BA%D0%B8/@40.733048,-111.9629788,17z/data=!3m1!4b1!4m6!3m5!1s0x8752f35b0826d399:0x2b26230524fd3ca3!8m2!3d40.733048!4d-111.9603985!16s%2Fg%2F11bw41vm_p?authuser=0&entry=ttu&g_ep=EgoyMDI1MDQyNy4xIKXMDSoASAFQAw%3D%3D"
          class="footer-text"
          target="_blank"
          >1678 S. Pioneer Road Salt Lake City UT 84104</a
        >
      </div>

      <div class="footer-policy">
        <p class="footer-subtext">
          &copy;2023 The Watch Spot. All rights reserved.
        </p>
        <div class="footer-pilisy">
          <a href="" class="footer-servis">Terms of Service</a>
          <a href="" class="footer-police">Privacy Policy</a>
        </div>
      </div>
    </div>
  </div>
</footer>
