<section class="hero section-general">
  <div class="container">
    <div class="hero-list">
      <div class="section-h">
        <h1 class="hero-h body">
          Welcome to our <span class="hero-h-h">collection</span> of premium
          watches
        </h1>
        <p class="hero-p text">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>

      <div class="section-img-p">
        <div class="team-list-wrapper">
          <ul class="team-list">
            <li class="team-item">
              <img
                class="img-item img-1"
                src="/img/hero/hero-1.webp"
                srcset="/img/hero/hero-1.webp 1x, /img/hero/hero-1_2x.webp 2x"
                alt="person-1"
              />
            </li>
            <li class="team-item">
              <img
                class="img-item img-2"
                src="/img/hero/hero-2.webp"
                srcset="/img/hero/hero-2.webp 1x, /img/hero/hero-2_2x.webp 2x"
                alt="person-2"
              />
            </li>
            <li class="team-item">
              <img
                class="img-item img-3"
                src="/img/hero/hero-3.webp"
                srcset="/img/hero/hero-3.webp 1x, /img/hero/hero-3_2x.webp 2x"
                alt="person-3"
              />
            </li>
          </ul>
          <a href="#footer" class="a-scroll body">Scroll down</a>
        </div>
      </div>
    </div>
    <div class="hero-background">
      <img
        class="hero-img"
        src="/img/hero/Rounded-rectangle.webp"
        srcset="
          /img/hero/Rounded-rectangle.webp    1x,
          /img/hero/Rounded-rectangle_2x.webp 2x
        "
        alt="Rounded rectangle"
      />
    </div>
  </div>
</section>
