<section class="watch-sale section-general" id="sale">
  <div class="container">
    <div class="container-sale">
      <h2 class="title-sale section-title">Sale</h2>
      <div class="image-sale">
        <div class="image-box">
          <ul class="list-sale">
            <li class="item-sale">
              <img
                class="image-watch"
                src="./img/sale/cloud-1.webp"
                alt="image-1"
                srcset="
                  ./img/sale/cloud-1.webp    1x,
                  ./img/sale/cloud-1-2x.webp 2x
                "
              />
            </li>
            <li class="item-sale">
              <img
                class="image-watch"
                src="./img/sale/cloud-2.webp"
                alt="image-2"
                srcset="
                  ./img/sale/cloud-2.webp    1x,
                  ./img/sale/cloud-2-2x.webp 2x
                "
              />
            </li>
            <li class="item-sale">
              <img
                class="image-watch"
                src="./img/sale/cloud-3.webp"
                alt="image-3"
                srcset="
                  ./img/sale/cloud-3.webp    1x,
                  ./img/sale/cloud-3-2x.webp 2x
                "
              />
            </li>
            <li class="item-sale">
              <img
                class="image-watch"
                src="./img/sale/cloud-4.webp"
                alt="image-4"
                srcset="
                  ./img/sale/cloud-4.webp    1x,
                  ./img/sale/cloud-4-2x.webp 2x
                "
              />
            </li>
          </ul>
          <div class="item-watch">
            <img
              class="img-watch"
              src="./img/sale/cloud-5.webp"
              alt="image-5"
              srcset="./img/sale/cloud-5.webp 1x, ./img/sale/cloud-5-2x.webp 2x"
            />
          </div>
        </div>
        <div class="product-card">
          <h3 class="subtitle-sale">
            MARQ® Commander (Gen 2) - Carbon Edition
          </h3>
          <p class="text">Product tag: 706587</p>
          <div class="price-container">
            <span class="current-price">€1500</span>
            <span class="old-price">€3000</span>
          </div>
          <p class="description text">
            The Garmin MARQ Commander Gen 2 Carbon Edition is a modern
            smartwatch for adventurers that takes materials and features to the
            next level. The body of the watch is made of very durable Fused
            Carbon Fiber material and has a precise AMOLED touch screen. The
            sensitive touch screen is complemented by buttons that can be used
            in any conditions.
          </p>
          <div class="modifications">
            <ul class="tags">
              <li class="tag">Fused carbon fiber</li>
              <li class="tag">Grade-5 Titanuim</li>
              <li class="tag">Athlete</li>
              <li class="tag">Golfer</li>
              <li class="tag">Commander</li>
              <li class="tag">Adventurer</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
