.container-sale {
  text-align: left;
}

.title-sale {
  margin-bottom: 24px;
}

.image-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.list-sale {
  display: flex;
  gap: 5px;
}

.item-sale {
  background-color: #f3f3f3;
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 20px;
  padding: 13px 14px;
}

.item-watch {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f3;
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 20px;
  padding: 50px;
}

.product-card {
  border-radius: 50px;
  background: #3350e9;
  padding: 48px 28px;
}

.subtitle-sale {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  color: #fbfbfb;
  margin-bottom: 10px;
}

.product-card .text {
  color: rgba(251, 251, 251, 0.7);
  margin-bottom: 20px;
}

.price-container {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 28px;
}

.current-price {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: #fbfbfb;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 68px;
  height: 32px;
  background: rgba(251, 251, 251, 0.1);
}

.old-price {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  text-decoration: line-through;
  color: rgba(251, 251, 251, 0.5);
  margin-left: 9px;
  justify-content: center;
  align-items: center;
}

.description {
  color: rgba(251, 251, 251, 0.7);
  margin-bottom: 28px;
}

.modifications {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.tags {
  display: flex;
  align-items: flex-start;
  justify-content: left;
  flex-wrap: wrap;
  gap: 8px;
}

.tag {
  display: flex;
  align-items: center;
  justify-content: left;
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 8px;
  padding: 8px 12px;
  font-size: 12px;
  line-height: 1.33;
  color: #fbfbfb;
}

@media screen and (min-width: 768px) {
  .title-sale {
    margin-bottom: 40px;
  }

  .item-sale {
    width: 132px;
    height: 132px;
    padding: 16px 18px;
  }

  .image-box {
    flex-wrap: nowrap;
    width: 704px;
    margin-bottom: 40px;
  }

  .list-sale {
    flex-direction: column;
    gap: 10px;
    width: 132px;
    height: 558px;
  }

  .image-watch {
    max-width: 96px;
  }

  .img-watch {
    max-width: 328px;
  }

  .item-watch {
    width: 552px;
    height: 558px;
    gap: 40px;
  }

  .product-card {
    width: 704px;
    padding: 60px;
  }

  .subtitle-sale {
    font-size: 32px;
    line-height: 1.13;
    width: 436px;
    height: 72px;
  }

  .current-price {
    font-size: 20px;
    line-height: 1;
  }

  .description {
    margin-bottom: 40px;
  }

  .modifications {
    width: 398px;
    height: 76px;
  }

  .tags {
    width: 398px;
    height: 76px;
    gap: 8px;
  }

  .tag {
    font-size: 14px;
    line-height: 1.29;
  }

  .price-container {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .image-sale {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 1150px;
    height: 558px;
    gap: 40px;
  }

  .image-box {
    margin: 0;
    width: 580px;
  }

  .item-watch {
    width: 428px;
  }

  .product-card {
    width: 530px;
    height: 558px;
    padding: 60px;
  }

  .description {
    width: 410px;
  }

  .subtitle-sale {
    width: 389px;
    height: 72px;
  }
}
